[submodule "kitty-hats-contracts"]
	path = kitty-hats-contracts
	url = https://github.com/achadha235/kitty-hats-contracts.git
	branch = master
[submodule "artists/BxKat"]
	path = artists/BxKat
	url = https://github.com/uxbecks/kitten-stuff.git
[submodule "artists/ParanoidLunatic"]
	path = artists/ParanoidLunatic
	url = https://github.com/ParanoidLunaticCK/KittyHats
[submodule "artists/ADHDKitties"]
	path = artists/ADHDKitties
	url = https://github.com/ADHDKitties/Kittyhats_stuff
